<table width="1200px" height="700px" align="center" border="0" cellspacing="0" cellpadding="0" >
<tr>
	<td background="http://${host}:${port}/template-2.png" bgcolor="#1e8dae" valign="middle" style="background:url(http://${host}:${port}/template-2.png) no-repeat center;text-align: center; background-position: center center; background-size:cover;">
		<!--[if mso]>
		<v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:1200px;height:700px;">
		<v:fill type="tile" src="http://${host}:${port}/template-2.png" color="#1e8dae " />
		<v:textbox inset="0,0,0,0">
		<![endif]-->
			<div style="width: 100%;">
	      	<div style="width: 30%;">
	      		<h2>Dear ${name} </h2>
				<img src=${picUrl} style="height: 200px; width: 200px; margin:0% 0% 92% 20%;">
			</div>
			
      </div>
	  <!--[if gte mso 9]>
	    </v:textbox>
	  </v:rect>
	  <![endif]-->
	</td>
</tr>
</table>
